<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="Wether it was booting Civilization from DOS while in Elementry, taking programming over spanish and french in high-school for language credit, or taking the obvious path of a computer science degree in college; becoming a software engineer was always calling me." content="<%= @seo_keywords %>">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= source_helper("blog") %>
    <%= render 'shared/navbar', location: 'top' %>
    <%= login_helper %>
    <hr>
    <%= yield %>
  </body>
</html>
